<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Can I Eat It</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="style.css">
  </head>
  <body>

        <% if(count > 0) { %>
            <img src='<%= img%>' alt='Food'>
            <h1>Tummy yum yum</h1>
        <% }else { %>
            <img src='<%= img%>' alt='Not food'>
            <h1> Tummy no no </h1>
        <% } %>

    <form action="/" enctype="multipart/form-data" method="post">
      <input type="file" name="file-to-upload">
      <input type="submit" value="Upload">
    </form>
  </body>
</html>
